*{

box-sizing: border-box;
padding: 0%;
margin: 0%;


}


.logo {

    height: 150px;
    border-radius: 90%;
    object-fit: contain;
    margin-bottom: 0px;
}
.redes_sociales {

    border-radius: 90%;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 20px;
    border: 1px;

}

footer {
    
    bottom: 0px;
    border-top: 3px solid salmon;
    padding: 1rem;
    background-image: url(../imagen/Background.jpg  );
    align-items: bottom;
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;

}


header  {

    position: sticky;
    box-sizing: content-box;
    width: 100%;
    height: 200px;
    border: 10px;
    background-image: url(../imagen/Backgrtound\ 2.jpg);
    padding: 0px;
    background-size: auto; 
    border-bottom: 3px solid black;
    text-decoration: none;
    
}


.productos {

    width: 250px;
    height: 250px;
    transform: transform 2s;
    overflow: hidden;
    
}

.nav_links li {

    text-decoration: none;
    display: inline-block;
    padding: 0px 40px;
}

.nav_links {

    display: flex;
    flex-direction: row;
    float: right;
    color: black;
    text-align: end;
    padding: 0px;
    font-size: 20px;
}

.nav_links li a {

    text-decoration: none;
    font-family: "wonderbar";

}

.nav_links li a:visited {

    color: black;
}

.nav_links li a:hover{

    color: red;
    text-decoration: none;
    font-family: "wonderbar";

}

body {

    min-height: 100vh;
    background-color: papayawhip;
    opacity: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.forms {

    border: 1px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 100px;


}

.forms__nombreyapellido{

    font-size: larger;

}

.whatsapp {

    position: fixed;
    bottom: 3rem;
    right: 2rem;
}

.copyright {

color: red;

}

.start {

    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.start__sobrenosotros{

    display: flex;
    justify-content: center;
    padding: 20px;

}

.start__respuesta1 {

    display: flex;
    justify-content: center;

}

.respuesta2 {

    display: flex;
    justify-content: center;
    padding: 2%;
}


.fotoshuevos {
    
    width: 500px;
    height: 500px;
    border-radius: 40%;
    padding: 50px;

}

.huevosfila {

    display: flex;
    justify-content: space-between;

}

.huevoscolumna{

    flex: 33.33%;
    padding: 5px;

}
