*{

box-sizing: border-box;
padding: 0%;
margin: 0%;


}

.fotoshuevos {
    
    width: 500px;
    height: 500px;
    border-radius: 40%;
    padding: 50px;

}

.huevosfila {

    display: flex;
    justify-content: space-between;

}

.huevoscolumna{

    flex: 33.33%;
    padding: 5px;

}

.logo {

    height: 130px;
    border-radius: 90%;
    object-fit: contain;
    margin-bottom: 0px;
}
.redes_sociales {

    border-radius: 90%;
    width: 40px;
    height: 40px;
    margin-top: 0px;
    margin-left: 20px;
    border: 1px;

}

footer {
    
    border-top: 3px solid salmon;
    background-image: url(../imagen/Background.jpg  );
    align-items: bottom;
    width: 100%;
    position: sticky;
    bottom: 0px;
    padding: 1rem;
    text-align: center;


}


header  {

    position: sticky;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 10px;
    background-image: url(../imagen/Backgrtound\ 2.jpg);
    padding: 0px;
    background-size: auto; 
    border-bottom: 3px solid black;
    text-decoration: none;
   
        
    }


.productos {

    width: 250px;
    height: 250px;
    transform: transform 2s;
    overflow: hidden;
    
}

.nav_links li {

    text-decoration: none;
    display: inline-block;
    padding: 0px 40px;
}

.nav_links {

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    float: right;
    color: black;
    text-align: center;
    padding: 0x;
    font-size: 14.5px;
    margin-top: 30px;
}

.nav_links li a {

    text-decoration: none;
    font-family: "wonderbar";
    padding: 1rem;
    display: block;

}

.nav_links li a:visited {

    color: black;
}

.nav_links li a:hover{

    color: red;
    text-decoration: none;
    font-family: "wonderbar";

}

body {

    min-height: 100vh;
    background-color: papayawhip;
    opacity: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    line-height: 1;
}

.forms {

    border: 1px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 100px;


}

.forms__nombreyapellido{

    font-size: larger;

}

.whatsapp {

    position: fixed;
    bottom: 6rem;
    right: 2rem;
}

.copyright {

color: red;

}

.formulario {

    display: flex;
    justify-content: center;
    text-align:left;
    margin: 60px auto 60px auto;
    width: 600px;
    padding: 100px;
    font-size: 16px;
    border: 2px solid pink;
    border-radius: 10px;

}

.formulario p {

    font-family: "wonderbar";

}

.start {

    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.start__sobrenosotros{

    display: flex;
    justify-content: center;
    padding: 20px;

}

.start__respuesta1 {

    display: flex;
    justify-content: center;

}

.respuesta2 {

    display: flex;
    justify-content: center;
    padding: 2%;
}




.toggle-button {

    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 40px;
}

.toggle-button .bar {
    height: 3px;
    background-color: black;
    border-radius: 10px
}


.nav_links li {

    padding: .5rem; 
}

.nav_links.active {
    display: flex
}

.productos2 {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    align-items: start;
    justify-items: center;
    
}

.productos2 img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
}


.huevosfotos1 {

    width: 500px;
    height: 500px;

}

.huevosfotos2 {

    width: 500px;
    height: 500px;

}
.huevosfotos3 {

    width: 500px;
    height: 500px;

}

.huevosfotos4 {

    width: 500px;
    height: 500px;
}

.huevosfotos5 {

    width: 500px;
    height: 500px;

}

.huevosfotos6 {

    width: 500px;
    height: 500px;

}

@media screen and (Max-width: 800px) 
{

    .body {

        background-color: papayawhip;
        opacity: 100%;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

    }
    .huevosfila {

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    
    }
    
    .huevoscolumna{
    
        flex: 10%;
        padding: 0px;
    
    }

    .fotoshuevos {

        width: 300px;
        height: 300px;
        border-radius: 40%;
        padding: 10px;
        align-items: center;

    }
    .whatsapp {

        display: none;
        position: fixed;
        bottom: 2.5rem;
        right: 1rem;
    }

    
}
    
    .burger {
        display: none; 
    }

    .burger li a {
        text-decoration: none;
    }

    @media screen and (Max-width: 800px) {
        
        .nav_links {
            display: none;
        }

        .burger {

            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            float: right;
            color: black;
            text-align: center;
            padding: 0x;
            font-size: 15px;
            margin-top: 3%;
            margin-right: 36%;
            text-decoration: none;
        }
        
        .burger li {

            text-decoration: none;
            display: flex;
            align-items: center;
            font-size: smaller;
        }

        .burger li a {

            text-decoration: none;
            font-family: "wonderbar";
            padding: 0%;
            display: flex;

        }

        .burger li a:visited {

            color: black;
        }
        
        .burger li a:hover{
        
            color: red;
            text-decoration: none;
            font-family: "wonderbar";
    }

    @media screen and (Max-width: 800px) 

    {
        .productos2 {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1px;
            align-items: start;
            justify-items: center;
            
        }
        
        .productos2 img {
            border: 1px solid #ccc;
            box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
            max-width: 100%;
        }
        
        
        .huevosfotos1 {
        
            width: 200px;
            height: 200px;
        
        }
        
        .huevosfotos2 {
        
            width: 200px;
            height: 200px;
        
        }
        .huevosfotos3 {
        
            width: 200px;
            height: 200px;
        
        }
        
        .huevosfotos4 {
        
            width: 200px;
            height: 200px;
        }
        
        .huevosfotos5 {
        
            width: 200px;
            height: 200px;
        }
        
        .huevosfotos6 {
        
            width: 200px;
            height: 200px;

        }
    }

    @media screen and (Max-width: 800px) 
    {
    
        .formulario {

            display: flex;
            justify-content: center;
            text-align:left;
            margin: 30px auto 30px auto;
            width: 20px;
            padding: 300px;
            font-size: 12px;
            border: 0px solid #999;
            border-radius: 5px;
        
        }
    
        
    }
}